# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
dist-ssr
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.*.local

# Local database
.postgres-data

# Uploads
uploads

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
Thumbs.db
.mcp.json
